*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'poppins';
  margin: 0;
  background: rgb(241, 225, 228);

}

h1 {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 12px;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  resize: none;
  border: 3px solid blue;
  height: 500px;
  width: 500px;
  margin: auto;
}

.grid div {
  max-width: 165px;
  max-height: 165px;
  border: 3px solid blue;
  background: whitesmoke;
}

.player-prompt-container {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}

.playerX-prompt {
  color: green;
}

.playerO-prompt {
  color: rgb(200, 91, 7);
}

.playerX-prompt,
.playerO-prompt {
  font-size: 2rem;
}

.hide {
  display: none;

}

.instructions {
  font-size: 1.3rem;
  text-align: center;
}

span {
  font-size: 6.8rem;
  margin-left: 40px;
  background: whitesmoke;
  
}

.pointer {
  pointer-events: none;
}


